@model Linux.Models.LinuxModel
@{
    List<LinuxModel> distros = TempData["Distros"] as List<LinuxModel>;
}


<h1>Distros</h1>
@* check if user is admin *@


<div class="container">
    @if (distros != null && distros.Count >= 1)
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Based on</th>
                    <th scope="col">Image</th>



                </tr>
            </thead>
            <tbody>
                @foreach (var distro in distros)
                {
                    
                    <tr>
                        <th scope="row">@distro.ID</th>

                        <td>@distro.Name</td>
                         <td>@distro.Based</td>
                        <td>@distro.description</td>
                      
                        

                        <td><a asp-controller="Home" asp-action="Distrobutions"  id="Link"><img src="~/images/@distro.ImageName" width="50%"></a></td>
                         <td>
                            <form asp-action="Removedistro" asp-controller="Home" method="post">
                                <input type="hidden" asp-for="ID" value="@distro.ID" />
                                <button type="sumbit" class="btn btn-success">Remove</button>
                            </form>
                        </td>
                        
                 
                    </tr>

                }


            </tbody>
        </table>


    }
</div>
 

<script>
  var  link = document.getElementById("Link");
var currentdistro;
// get the row of the current distro when the user clicks on the image
function GetLinkDistro()
{
    currentdistro = link.parentNode.parentNode;
}
</script>